
/_ReSharper.KimiStudio.BgmOnWp
/src/KimiStudio.BgmOnWp/Bin
/src/KimiStudio.BgmOnWp/obj
*.suo
/src/KimiStudio.Controls/obj
/src/KimiStudio.Controls/Bin
/src/KimiStudio.Bagumi.Api/Bin
/src/KimiStudio.Bagumi.Api/obj
/_ReSharper.KimiStudio.Bugumi.Api